#home{
    background-image: url("https://res.cloudinary.com/dvm5zblev/image/upload/v1780474471/Brown_and_White_Painting_Illustration_Presentation_20260603_131340_0000_yyvcdx.png");
    
}
#contact{
    background-image: url("https://res.cloudinary.com/dvm5zblev/image/upload/v1766436751/WhatsApp_Image_2025-12-22_at_3.37.16_PM_1_bs4fmb.jpg");
    
}



#desktopMenu,#mobileMenu,.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700 ;
  font-style: italic;
}

.cormorant-garamond1 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700 ;
  font-style: normal;
}