body{
    background-image: url("https://res.cloudinary.com/dvm5zblev/image/upload/v1766400079/WhatsApp_Image_2025-12-22_at_3.37.16_PM_duct79.jpg");
    
}
#contact{
    background-image: url("https://res.cloudinary.com/dvm5zblev/image/upload/v1766436751/WhatsApp_Image_2025-12-22_at_3.37.16_PM_1_bs4fmb.jpg");
    
}
p{
    color: white;
}


#desktopMenu,#mobileMenu,.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700 ;
  font-style: italic;
}

.cormorant-garamond1 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700 ;
  font-style: normal;
}